@import url('https://fonts.google.com/share?selection.family=Roboto%20Condensed');

:root {
    --background-color: white;
    --button-color: #368ad9;
    --button-h-color: #2a6cab;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
}

li {
    list-style: none;
}

a {
    color: black;
    text-decoration: none;
}

header {
    
}
.header-img{
    width: 250px;
    height: 100px;
}